-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- DropForeignKey
ALTER TABLE "AgentTrade" DROP CONSTRAINT "AgentTrade_agentId_fkey";

-- DropForeignKey
ALTER TABLE "AgentSnapshot" DROP CONSTRAINT "AgentSnapshot_agentId_fkey";

-- DropForeignKey
ALTER TABLE "LearningEvent" DROP CONSTRAINT "LearningEvent_agentId_fkey";

-- DropForeignKey
ALTER TABLE "EvolutionEvent" DROP CONSTRAINT "EvolutionEvent_agentId_fkey";

-- DropTable
DROP TABLE "ScanRun";

-- DropTable
DROP TABLE "Agent";

-- DropTable
DROP TABLE "AgentTrade";

-- DropTable
DROP TABLE "AgentSnapshot";

-- DropTable
DROP TABLE "LearningEvent";

-- DropTable
DROP TABLE "EvolutionEvent";

